#subButton {
	text-align: center;
	margin-top: 10px;
}


/* for display areas larger than 768px */
@media (min-width: 768px) {
	#subButton {
		text-align: left;
		margin-top: 0px; 
	}

	#ibLabel {
		text-align: right;
	}

}